body {
   font-family: 'Times New Roman', Times, serif, sans-serif;
   font-size: 143%;
}

header {
   background-color: red;
}

nav {
   background-color: yellow;
}

main {
   background-color: red;
   font-size: 140%;
}

footer {
   background-color: yellow;
}

li {
   display: inline;
   width: 120%;
}

h1 {
   text-align: center;
   font-family: 'Times New Roman', Times, serif, sans-serif;
   color: red;
}

p {
   line-height: 1.5;
}
